body {
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
}
.navbar-inverse {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand,
.navbar-inverse a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.mood-input {
  margin-left: 500px;
}
.search-btn {
  color: rgb(52, 72, 189);
}
